* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #2d3142;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background-color: #ff0045;
    font-size: 25px;
    color: white;

    .logo {

        a {
            color: white;
            text-decoration: none;
        }

    }


    ul {
        display: flex;
        gap: 20px;
        list-style: none;

        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

section {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    padding: 1rem 0;

    .item {
        padding: 1rem;
        background-color: white;
        border-radius: 5px;
    }

    .inCart-container {
        .goods {
            position: relative;
            background-color: #4F5D75;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 2fr 5fr;
            margin-bottom: 5px;


            .img-con {
                padding: .2rem;
                border-radius: 5px;

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }

            .info {
                padding: 1rem;
                color: white;
                font-size: 20px;

            }

            .buy {
                position: absolute;
                right: 10px;
                bottom: 10px;
                display: flex;
                gap: 3px;

                input {
                    padding: .5rem;
                    border-radius: 5px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    background-color: #ff0045;
                    color: white;
                    border: none;
                    padding: .5rem 1rem;
                    border-radius: 5px;

                    &:hover {
                        background-color: white;
                        color: #ff0045;
                    }

                }
            }

            .delete {
                position: absolute;
                top: 10px;
                right: 10px;

                button {
                    background-color: #ff0045;
                    color: white;
                    border: none;
                    padding: .5rem 1rem;
                    border-radius: 5px;

                    &:hover {
                        background-color: white;
                        color: #ff0045;
                    }
                }
            }
        }
    }

    .purchase-container {
        align-self: flex-start;


        .form-con{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .yourInfo-con {
            display: flex;
            flex-direction: column;

            ul {
                background-color: #4F5D75;
                float: left;
                padding: 10px;
                border-radius: 5px;
                min-height: 300px;
                

                li {
                    color: white;
                    list-style: none;
                    margin-bottom: 10px;
                }
            }

            
        }
        .purchase-form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1rem;

            button{
                background-color: #ff0045;
                color: white;
                border: none;
                margin-top: 10px;
                border-radius: 5px;
                padding: 0 1rem;
            }
        }
        
    }

}